{#
	{% render '@partial-meta' %}

	Google Maps, Find the ID of a particular place - https://developers.google.com/places/place-id
#}
<div class="meta_info" id="meta_info">
	<script type="application/ld+json">
		{
			'@context': 'http://schema.org',
			'@type': '{{ config.schema_type }}',
			'name':  "{{ config.name }}",
			'logo': '//{{ config.domain }}/images/logo-schema.png',
			'address': {
				'@type': 'PostalAddress',
				'streetAddress': '{{ config.street }}',
				'addressLocality': '{{ config.city }}',
				'addressRegion': '{{ config.state }}',
				'postalCode': '{{ config.zip }}"
			},
			{% if config.email %}'email': '{{ config.email }}',{% endif %}
			{% if config.phone %}'telephone': '{{ config.phone }}',{% endif %}
			'url': '//{{ config.domain }}',
			{% if navigation.social %}
				'sameAs': [
				{% for social in navigation.social %}
					"{{ social.url }}"
					{% if not loop.last %},
					{% endif %}
				{% endfor %}
				]
			{% endif %}
		}
	</script>
	<h2 class="meta_info_title">Contact</h2>
	<ul class="meta_info_details" aria-label="Contact">
		<li class="meta_info_detail">
			<h3 class="meta_info_detail_title">Campus</h3>
			<div class="meta_info_detail_body">
				<p class="meta_info_detail_label">St. George's University</p>
				<p class="meta_info_detail_info">University Centre<br>
				Grenada, West Indies</p>
			</div>
		</li>
		<li class="meta_info_detail">
			<h3 class="meta_info_detail_title">Office of Admission</h3>
			<div class="meta_info_detail_body">
				<p class="meta_info_detail_label">St. George's University</p>
				<p class="meta_info_detail_info">c/o University Support Services, LLC<br>
				The North American Correspondent<br>
				3500 Sunrise Highway, Building 300<br>
				Great River, NY 11739</p>
			</div>
		</li>
	</ul>
</div>