{#
	{% include "partials/link.twig" with {
		title: "Button Text",
		url: "#",
		class: "",
		js: false,
		icon: "",
		aria: "",
		new_window: "_blank"
	} %}
#}

<a href="{{ url ?: '#' }}" class="{{ class }}_link{% if js %} js-{{ class|replace({ '_': '-'}) }}-link{% endif %}" {% if aria %} aria-label="{{ aria|e('html_attr') }}" {% endif %} target="{{ new_window ? '_blank' : '_self' }}">
	<span class="{{ class }}_link_inner">
		{% if nowrap == true %}
			<span class="{{ class }}_link_label">{{ title }}</span><span class="icon_nowrap {{ class }}_link_icon" aria-hidden="true">&nbsp;{{ icon(icon) }}</span>
		{% else %}
			<span class="{{ class }}_link_label">{{ title }}</span>
			{% if icon %}
				<span class="{{ class }}_link_icon" aria-hidden="true">
					{{ icon(icon) }}
				</span>
			{% endif %}
		{% endif %}
	</span>
</a>
